<template>
    <section class="w-full">
        <div class="w-full flex select-none">
            <BannerHorizontalBanner />
            <BannerSliderHome
                v-if="dataBanner?.sliding_homepage"
                :list-silde="dataBanner?.sliding_homepage"
            />
            <BannerRightBanner
                class="shrink-0"
                :list-baner="dataBanner?.right_homepage ?? []"
            />
        </div>
        <div class="w-full pt-[10px] select-none">
            <BannerBottomBanner />
        </div>
    </section>
</template>

<script setup lang="ts">
    export interface BannerItem {
        name: string;
        path_desktop: string;
        path_mobile: string;
        schedule_from: string;
        schedule_to: string;
        url: string;
    }
    interface DataBanner {
        home_special_banner: BannerItem[];
        right_homepage: BannerItem[];
        sis_home: BannerItem[];
        sliding_homepage: BannerItem[];
        uu_dai_thanh_toan_banner: BannerItem[];
    }
    const jsonserverStore = useStoreJsonServer();
    const dataBanner = ref<DataBanner | null>(null);
    await jsonserverStore.getDataJsonServerGraphql('banner_fake_dtv');

    onMounted(() => {
        dataBanner.value = Object.assign({}, jsonserverStore.getData);
        console.log(dataBanner.value);
    });
</script>

<style scoped></style>
