<template>
    <div class="relative h-[40px] w-fit">
        <div
            ref="btnRegionRef"
            class="shrink-0 w-fit h-full bg-[#ee374c] rounded-lg flex items-center px-[5px] select-none cursor-pointer"
            @click="handleShowPopup()"
        >
            <Icon
                name="material-symbols:location-on"
                class="stroke-[#fff] stroke-[1.5] text-[#fff0] text-2xl mr-[5px]"
            />
            <div class="text-[#fff] h-full flex flex-col justify-center">
                <div class="h-[15px] flex">
                    <span class="text-[0.6rem] inline-block font-bold"
                        >Xem giá tại</span
                    >
                    <Icon
                        name="material-symbols:arrow-drop-down"
                        class="text-sm"
                    />
                </div>
                <span class="text-sm">{{ regions[regionActive] }}</span>
            </div>
        </div>
        <div
            v-if="showPopup"
            ref="popupRef"
            class="absolute pt-[10px] bottom-0 left-1/2 translate-y-full translate-x-[-50%] z-[1001] popup"
        >
            <div
                class="absolute top-0 left-1/2 translate-y-[1px] translate-x-[-50%] h-[0px] w-[0px] arrow-up"
            ></div>
            <div class="shadow-md p-[5px] bg-[#fff] rounded-md">
                <div
                    v-for="(region, index) in regions"
                    :key="index"
                    class="flex w-[120px] rounded h-[30px] mt-[5px] items-center p-[3px] bg-[#fff] text-[#111] select-none cursor-pointer hover:bg-[#e3494f] hover:text-[#fff]"
                    @click="handleSetRegionActive(index)"
                >
                    <Icon
                        name="material-symbols:location-on"
                        class="text-xl mr-[5px]"
                    />
                    <span class="text-sm">{{ region }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    const regions = ref<string[]>(['Miền Bắc', 'Miền Nam']);
    const regionActive = ref<number>(0);
    const showPopup = ref<boolean>(false);
    const popupRef = ref<HTMLElement | null>(null);
    const btnRegionRef = ref<HTMLElement | null>(null);

    const handleShowPopup = () => {
        showPopup.value = !showPopup.value;
    };
    const handleSetRegionActive = (index: number) => {
        if (regionActive.value === index) return;
        regionActive.value = index;
        showPopup.value = false;
    };
    const handleClickOutsidePopup = (event: any) => {
        if (btnRegionRef.value && btnRegionRef.value.contains(event.target))
            return;
        if (popupRef.value && !popupRef.value.contains(event.target)) {
            handleShowPopup();
        }
    };

    onMounted(() => {
        document.addEventListener('click', handleClickOutsidePopup);
    });

    onBeforeUnmount(() => {
        document.removeEventListener('click', handleClickOutsidePopup);
    });
</script>

<style lang="scss" scoped>
    .popup {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
    .arrow-up {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid rgb(255, 255, 255);
    }
</style>
