<template>
    <nav
        class="max-w-[1200px] w-full h-[50px] px-[10px] m-auto subpixel-antialiased justify-between hidden w800:flex"
    >
        <div
            class="w-fit h-full flex items-center text-sm uppercase shrink-0 font-semibold mr-[10px]"
        >
            Sửa chữa :
        </div>
        <ul class="flex-1 h-full flex justify-between">
            <nuxt-link
                v-for="(item, index) in listItemMenu"
                :key="index"
                :to="item.url"
                tag="li"
                class="item flex items-center font-thin justify-center flex-col relative w900:min-w-[70px] w900:flex-row"
            >
                <div class="hover-line"></div>
                <Icon
                    class="stroke-[#fff0] text-[#111] mr-[5px] shrink-0 text-xl"
                    :name="item.icon"
                />
                <span class="uppercase text-sm">{{ item.name }}</span>
            </nuxt-link>
        </ul>
    </nav>
</template>

<script setup lang="ts">
    interface Item {
        icon: string;
        name: string;
        url: string;
    }
    const listItemMenu = ref<Item[]>([
        {
            icon: 'bi:phone',
            name: 'Điện thoại',
            url: '/',
        },
        {
            icon: 'bi:tablet-landscape',
            name: 'Máy tính bảng',
            url: '/',
        },
        {
            icon: 'bi:laptop',
            name: 'Laptop',
            url: '/',
        },
        {
            icon: 'bi:window-desktop',
            name: 'Máy tính bàn',
            url: '/',
        },
        {
            icon: 'mdi:laptop-mac',
            name: 'Mac',
            url: '/',
        },
        {
            icon: 'bi:watch',
            name: 'Đồng hồ',
            url: '/',
        },
        {
            icon: 'bi:headphones',
            name: 'Phụ kiện',
            url: '/',
        },
        {
            icon: 'mdi:cellphone',
            name: 'Máy cũ',
            url: '/',
        },
    ]);
</script>

<style lang="scss" scoped>
    .item {
        .hover-line {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 3px;
            background-color: #e3494f;
            transition: 0.2s linear;
            border-radius: 2px;
        }
        &:hover {
            .hover-line {
                width: 100%;
            }
        }
    }
</style>
