<template>
    <div
        :class="`product-list-swiper__${props.index} product-list-swiper w-full px-[10px] pb-[20px]`"
    >
        <div class="swiper-wrapper">
            <div
                v-for="(product, key) in listProduct"
                :key="key"
                class="swiper-slide"
            >
                <ProductItem :title="title[product]" />
            </div>
        </div>
        <div
            class="swiper-button-prev swiper-button-nav invisible w800:visible"
        >
            <Icon name="ic:baseline-arrow-back-ios-new" />
        </div>
        <div
            class="swiper-button-next swiper-button-nav invisible w800:visible"
        >
            <Icon name="ic:baseline-arrow-forward-ios" />
        </div>
    </div>
</template>

<script setup lang="ts">
    interface Props {
        index: string;
    }
    const props = defineProps<Props>();
    const listProduct = [1, 2, 3, 4, 5, 6, 7, 8];
    const title = [
        ' Thay pin iPhone X dung lượng siêu cao chính hãng Pisen',
        ' Thay pin iPhone X dung lượng siêu cao chính hãng Pisen',
        ' Thay pin iPhone X dung lượng siêu cao chính hãng Pisen',
        ' Thay pin iPhone X dung lượng sieu cao',
        ' Thay pin iPhone X dung lượng siêu cao chính hãng Pisen',
        ' Thay pin iPhone X dung lượng',
        ' Thay pin iPhone X dung lượng siêu cao chính hãng Pisen',
        ' Thay pin iPhone X dung lượng siêu cao chính hãng Pisen',
        ' Thay pin iPhone X dung lượng siêu cao chính hãng Pisen',
    ];

    onMounted(() => {
        useSwiperProductList(props.index);
    });
</script>

<style lang="scss" scoped>
    .product-list-swiper {
        position: relative;

        .swiper-button-nav {
            width: 60px;
            height: 60px;
            background-color: #78787882;
            border-radius: 50%;
            color: #fff;
            font-size: 1.5rem;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            &::after {
                content: '';
                display: none !important;
            }
            transition: 0.2s linear;
        }
        .swiper-button-prev {
            left: 0 !important;
            transform: translateX(-100%);
            svg {
                transform: translateX(50%);
            }
        }
        .swiper-button-next {
            right: 0 !important;
            transform: translateX(100%);
            svg {
                transform: translateX(-50%);
            }
        }
        &:hover {
            .swiper-button-prev {
                transform: translateX(-50%);
            }
            .swiper-button-next {
                transform: translateX(50%);
            }
        }
    }
</style>
