<template>
    <!-- eslint-disable-next-line vue/no-v-html -->
    <div v-html="renderHtml"></div>
</template>
<script lang="ts" setup>
    import DOMPurify from 'dompurify';
    const props = defineProps<{
        html: string;
    }>();

    const renderHtml = computed(() => DOMPurify.sanitize(props.html));
</script>
