<template>
    <section
        class="w-full py-[10px] mt-[10px] block-shadow rounded-xl overflow-hidden"
    >
        <div
            class="w-full my-[10px] pl-[10px] flex items-start flex-col w800:flex-row"
        >
            <nuxt-link
                to="/"
                class="flex items-center w-fit shrink-0 mb-[10px]"
            >
                <div class="bg-dtv h-[30px] w-[5px] mr-[10px]"></div>
                <h2 class="text-base uppercase font-bold">{{ props.title }}</h2>
            </nuxt-link>
            <div
                class="flex-1 flex px-[10px] flex-wrap flex-row w800:flex-row-reverse"
            >
                <nuxt-link
                    v-for="item in tags"
                    :key="item"
                    to="/"
                    class="shrink-0 px-[5px] h-[25px] mb-[8px] mr-[8px] border-[#c9c9c9] border-[1px] rounded-[10px] text-xs flex items-center hover:bg-[#ff7411] hover:text-[#fff] hover:bottom-0"
                    >Thay camera</nuxt-link
                >
            </div>
        </div>
        <div class="w-full overflow-x-auto overflow-y-hidden wrapper">
            <div class="w-[1200px] w900:w-full flex flex-wrap">
                <nuxt-link
                    v-for="item in cate"
                    :key="item"
                    to="/"
                    class="w-[25%] p-[5px] w1024:p-[8px] flex flex-col items-center"
                    ><div
                        class="w-full block-shadow p-[5px] rounded-xl overflow-hidden"
                    >
                        <div class="w-full pt-[60%] relative">
                            <nuxt-img
                                src="/b612-1.jpg"
                                class="absolute rounded-lg top-0 left-0 w-full h-full object-cover"
                            />
                        </div>
                        <div class="w-full p-[5px]">
                            <p
                                class="uppercase mt-[5px] text-xs font-semibold min-h-[32px] w1024:min-h-[40px] w1024:text-sm title overflow-hidden"
                            >
                                Nguyên nhân Shopee bị lỗi và cách khắc
                                phụcfghfgh fghfhfghgf
                            </p>
                            <p
                                class="mt-[5px] text-xs min-h-[32px] w1024:min-h-[40px] w1024:text-sm content overflow-hidden"
                            >
                                App Shopee bị lỗi hệ thống không dfs sd sdgdfg
                                dfg dfgdfg dfgdf
                            </p>
                        </div>
                    </div>
                </nuxt-link>
                <nuxt-link
                    to="/"
                    class="w-[25%] p-[5px] w1024:p-[8px] flex flex-col items-center"
                >
                    <div
                        class="w-full block-shadow p-[5px] rounded-xl overflow-hidden"
                    >
                        <div class="w-full pt-[60%] relative">
                            <nuxt-img
                                src="/b612-1.jpg"
                                class="absolute rounded-lg top-0 left-0 w-full h-full object-cover"
                            />
                        </div>
                        <p
                            class="uppercase mt-[5px] text-xs font-semibold min-h-[32px] w1024:min-h-[40px] w1024:text-sm title overflow-hidden"
                        >
                            Nguyên nhân Shopee bị lỗi và cách khắc phục
                        </p>
                        <p
                            class="mt-[5px] text-xs min-h-[32px] w1024:min-h-[40px] w1024:text-sm content overflow-hidden"
                        >
                            App Shopee bị lỗi hệ thống không
                        </p>
                    </div>
                </nuxt-link>
            </div>
        </div>
    </section>
</template>

<script setup lang="ts">
    interface Props {
        title: string;
        index: string;
    }
    const props = defineProps<Props>();
    const tags = [1, 2];
    const cate = [1, 2, 3];
</script>

<style lang="scss" scoped>
    .wrapper {
        &::-webkit-scrollbar:horizontal {
            height: 0;
            width: 0;
            display: none;
        }
        scroll-snap-type: x mandatory;
    }
    .title {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .content {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
</style>
