<template>
    <header class="fixed top-0 left-0 w-screen bg-[#fff] z-[1000] block-shadow">
        <div class="w-full bg-dtv">
            <main
                class="max-w-[1200px] w-full h-[65px] m-auto subpixel-antialiased"
            >
                <nav
                    class="w-full h-full px-[5px] flex justify-between items-center"
                >
                    <nuxt-link
                        to="/"
                        class="h-[35px] inline-block shrink-0 mr-[5px]"
                    >
                        <nuxt-img src="/logo.png" class="h-full" />
                    </nuxt-link>
                    <ModulesHeaderRegion />
                    <div class="h-[35px] mx-[5px] flex-1">
                        <div
                            class="h-full max-w-[500px] m-auto bg-[#fff] rounded-lg px-[10px] flex items-center"
                        >
                            <Icon
                                name="material-symbols:search"
                                class="text-xl stroke-1 shrink-0"
                            />
                            <input
                                class="h-full min-w-[10px] w-full text-base inline-block focus:outline-none p-[5px]"
                                type="text"
                            />
                        </div>
                    </div>

                    <nuxt-link
                        href="tel:1800.2064"
                        class="shrink-0 w-fit h-[40px] hover:bg-[#e73348] rounded-lg flex items-center px-[8px] py-[3px] ease-in-out duration-200 hover:scale-[1.02] select-none cursor-pointer"
                    >
                        <Icon
                            name="bi:telephone"
                            class="stroke-[#fff] stroke-0 text-[#fff] text-2xl mr-[5px]"
                        />
                        <div
                            class="text-[#fff] h-full flex flex-col justify-center"
                        >
                            <span class="text-xs">Gọi miễn phí</span>
                            <span class="text-xs font-semibold">1800.2064</span>
                        </div>
                    </nuxt-link>
                    <nuxt-link
                        to="/"
                        class="shrink-0 w-fit h-[40px] hover:bg-[#e73348] rounded-lg flex items-center px-[8px] py-[3px] ease-in-out duration-200 hover:scale-[1.02] select-none cursor-pointer"
                    >
                        <Icon
                            name="material-symbols:location-on"
                            class="stroke-[#fff] stroke-[1.5] text-[#fff0] text-2xl mr-[5px]"
                        />
                        <div
                            class="text-[#fff] h-full flex flex-col justify-center"
                        >
                            <span class="text-xs">Hệ thống</span>
                            <span class="text-xs font-semibold"
                                >33 của hàng</span
                            >
                        </div>
                    </nuxt-link>
                    <nuxt-link
                        to="/"
                        class="shrink-0 w-[70px] h-[40px] hover:bg-[#e73348] rounded-lg flex items-center px-[8px] py-[3px] ease-in-out duration-200 hover:scale-[1.02] select-none cursor-pointer"
                    >
                        <Icon
                            name="ph:shopping-cart"
                            class="stroke-[#fff] stroke-[0] shrink-0 text-[#fff] text-2xl mr-[5px]"
                        />
                        <div
                            class="text-[#fff] h-full flex flex-col justify-center"
                        >
                            <span class="text-xs font-semibold">Giỏ hàng </span>
                        </div>
                    </nuxt-link>
                </nav>
            </main>
        </div>
    </header>
</template>
