<template>
    <div
        class="w-full h-fit rounded-2xl select-none block-shadow cursor-pointer"
    >
        <div
            class="w-full max-w-[230px] m-auto px-[5px] pt-[15px] pb-[10px] relative"
        >
            <div class="w-full h-fit p-[10px] flex justify-center items-center">
                <nuxt-img
                    width="300"
                    height="300"
                    src="/Daison.png"
                    fit="contain"
                    class="w-full object-cover max-w-[160px] max-h-[160px]"
                />
            </div>
            <div
                class="w-full min-h-[50px] px-[5px] flex flex-col mt-[-30px] text-[10px] w500:text-xs font-thin text-center text-[#fff]"
            >
                <p
                    class="rounded-[10px] bg-[#f76c0f] px-[6px] py-[4px] inline-block w-fit"
                >
                    Bao hanh 6 thang
                </p>
                <p
                    class="mt-[3px] w500:mt-[5px] rounded-[10px] bg-[#f70f0f] px-[6px] py-[4px] inline-block w-fit"
                >
                    Sua: 1 gio
                </p>
            </div>
            <div class="w-full w400:px-[5px] mt-[10px]">
                <div
                    class="absolute h-[22px] w-[60px] w500:h-[31px] w500:w-[80px] top-[-5px] left-[-5px] flex justify-center items-center price-percent"
                >
                    <span
                        class="text-[10px] w500:text-xs font-semibold text-[#fff]"
                    >
                        Giảm 20%</span
                    >
                </div>
                <h3
                    class="text-[11px] w400:text-xs w500:text-sm min-h-[50px] w500:min-h-[60px] font-semibold overflow-hidden text-[#4c4c4c] name-product"
                >
                    {{ props.title }}
                </h3>
                <div
                    class="w-full min-h-[34px] w500:min-h-[40px] flex mt-[10px] text-[11px] w500:text-sm flex-wrap"
                >
                    <p class="inline-block font-semibold text-dtv">
                        26.990.000&nbsp;₫
                    </p>
                    <p
                        class="inline-block font-semibold text-[#4c4c4c] line-through ml-[5px] w500:ml-[10px]"
                    >
                        26.990.000&nbsp;₫
                    </p>
                </div>
            </div>
            <div class="min-h-[30px] w-full">
                <div
                    class="bg-[#e4e4e4] h-full min-h-[30px] w-full rounded-lg flex items-center p-[5px] w400:min-h-[55px]"
                >
                    <p
                        class="text-center font-semibold text-[10px] w400:text-xs overflow-hidden text-[#4c4c4c] name-hotsale"
                    >
                        Từ 24/3 - 26/3, Hot Sales - Giá hời - Xem ngay (* Và các
                        khuyến mãi khác)
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    const props = defineProps<{
        title: string;
    }>();
</script>

<style lang="scss" scoped>
    .price-percent {
        background: url('/sale.svg') 50% no-repeat;
    }
    .name-product {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .name-hotsale {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
</style>
