.
<template>
    <div class="w-full">
        <BlockBannerHomePage />
        <MenuHome title="Dịch vụ sửa chữa" kind="service" index="test1" />
        <MenuHome title="Dịch vụ theo thương hiệu" kind="brand" index="test1" />
        <FeaturedProductList title="Sửa chữa điện thoại" index="test1" />
        <FeaturedProductList title="Sửa chữa điện thoại" index="test2" />
        <BlockCategoryHomePage title="Phụ kiện chính hãng" />
        <BlockNewsHomePage title="Tin tức" />
    </div>
</template>

<script setup></script>

<style></style>
