<template>
    <section
        class="w-full py-[10px] mt-[10px] block-shadow rounded-xl overflow-hidden"
    >
        <div
            class="w-full my-[10px] pl-[10px] flex items-start flex-col w800:flex-row"
        >
            <nuxt-link
                to="/"
                class="flex items-center w-fit shrink-0 mb-[10px]"
            >
                <div class="bg-dtv h-[30px] w-[5px] mr-[10px]"></div>
                <h2 class="text-base uppercase font-bold">{{ props.title }}</h2>
            </nuxt-link>
            <div
                class="flex-1 flex px-[10px] flex-wrap flex-row w800:flex-row-reverse"
            >
                <nuxt-link
                    v-for="item in tags"
                    :key="item"
                    to="/"
                    class="shrink-0 px-[5px] h-[25px] mb-[8px] mr-[8px] border-[#c9c9c9] border-[1px] rounded-[10px] text-xs flex items-center hover:bg-[#ff7411] hover:text-[#fff] hover:bottom-0"
                    >Thay camera</nuxt-link
                >
            </div>
        </div>
        <div class="w-full">
            <ModulesProductList :index="props.index" />
        </div>
    </section>
</template>

<script setup lang="ts">
    interface Props {
        title: string;
        index: string;
    }
    const props = defineProps<Props>();
    const tags = [1, 2, 3, 4, 5, 6, 7, 8];
</script>

<style scoped></style>
