<template>
    <div
        class="w-full py-[10px] mt-[10px] block-shadow rounded-xl overflow-hidden"
    >
        <div class="w-full flex items-center my-[10px] ml-[10px]">
            <div class="bg-dtv h-[30px] w-[5px] mr-[10px]"></div>
            <h2 class="text-base uppercase font-bold">{{ props.title }}</h2>
        </div>
        <div class="w-full">
            <div
                v-if="props.kind === Kind.SERVICE"
                :class="`menu-swiper__${props.index} !px-[10px] h-[100px] w800:h-[110px] w1024:h-[150px]`"
            >
                <div class="swiper-wrapper">
                    <div
                        v-for="item in listMenu"
                        :key="item"
                        class="swiper-slide !h-[full] !w-[60px] !mr-[10px] w800:!w-[100px] w800:!mr-[15px] w1024:!w-[110px] w1024:!mr-[20px]"
                    >
                        <a
                            class="w-[full] h-full flex flex-col items-center"
                            href="/"
                            target="_blank"
                        >
                            <div
                                class="rounded-lg border border-[#e3e3e3] w-[60px] h-[60px] w800:w-[90px] w800:h-[90px] w1024:w-[100px] w1024:h-[100px]"
                            >
                                <nuxt-img
                                    format="webp"
                                    width="100"
                                    height="100"
                                    src="/Dien-thoai-hu.jpg"
                                    alt="menu"
                                    loading="lazy"
                                    class="w-full h-full"
                                />
                            </div>
                            <span
                                class="uppercase mt-[5px] text-center text-xs font-medium w800:font-semibold w1024:text-sm"
                                >Điện thoại {{ item }}</span
                            >
                        </a>
                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------------------------- -->
            <div
                v-if="props.kind === Kind.BRAND"
                :class="`menu-swiper__${props.index} h-[50px] w800:h-[70px] w1024:h-[80px] !px-[10px]`"
            >
                <div class="swiper-wrapper">
                    <div
                        v-for="item in listMenu2"
                        :key="item"
                        class="swiper-slide !h-full !w-[80px] !mr-[10px] w800:!w-[115px] w800:mr-[15px] w1024:!w-[135px] w1024:mr-[20px]"
                    >
                        <a
                            class="w-[full] h-full flex flex-col items-center"
                            href="/"
                            target="_blank"
                        >
                            <div
                                class="rounded-lg border border-[#e3e3e3] flex items-center w-[80px] h-[40px] w800:w-[100px] w800:h-[50px] w1024:w-[120px] w1024:h-[60px]"
                            >
                                <nuxt-img
                                    format="webp"
                                    fit="contain"
                                    src="/logo-samsung-1.jpg"
                                    alt="menu"
                                    loading="lazy"
                                    class="w-full object-cover"
                                />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    enum Kind {
        SERVICE = 'service',
        BRAND = 'brand',
    }
    interface Props {
        title: string;
        index: string;
        kind: Kind;
    }
    const props = defineProps<Props>();
    const listMenu = [1, 2, 3, 4, 5, 6, 7, 8, 9];
    const listMenu2 = [1, 2, 3, 4, 5, 6, 7, 8];

    onMounted(() => {
        useSwiperMenuHome(props.index);
    });
</script>

<style lang="scss" scoped></style>
