<template>
    <section
        class="w-full py-[10px] mt-[10px] block-shadow rounded-xl overflow-hidden"
    >
        <div
            class="w-full my-[10px] pl-[10px] flex items-start flex-col w800:flex-row"
        >
            <nuxt-link
                to="/"
                class="flex items-center w-fit shrink-0 mb-[10px]"
            >
                <div class="bg-dtv h-[30px] w-[5px] mr-[10px]"></div>
                <h2 class="text-base uppercase font-bold">{{ props.title }}</h2>
            </nuxt-link>
            <div
                class="flex-1 flex px-[10px] flex-wrap flex-row w800:flex-row-reverse"
            >
                <nuxt-link
                    v-for="item in tags"
                    :key="item"
                    to="/"
                    class="shrink-0 px-[5px] h-[25px] mb-[8px] mr-[8px] border-[#c9c9c9] border-[1px] rounded-[10px] text-xs flex items-center hover:bg-[#ff7411] hover:text-[#fff] hover:bottom-0"
                    >Thay camera</nuxt-link
                >
            </div>
        </div>
        <div class="w-full overflow-x-auto overflow-y-hidden wrapper">
            <div class="w-[820px] w800:w-full flex flex-wrap">
                <nuxt-link
                    v-for="item in cate"
                    :key="item"
                    to="/"
                    class="w-[11.11%] p-[5px] w1024:p-[8px] flex flex-col items-center"
                >
                    <div class="w-full pt-[100%] relative">
                        <nuxt-img
                            src="/cu-cap-sac-icon.png"
                            width="100"
                            height="100"
                            class="absolute top-0 left-0 w-full h-full"
                        />
                    </div>
                    <span
                        class="uppercase mt-[5px] text-center text-xs font-medium w800:font-semibold w1024:text-sm"
                        >Điện thoại {{ item }}</span
                    >
                </nuxt-link>
            </div>
        </div>
    </section>
</template>

<script setup lang="ts">
    interface Props {
        title: string;
        index: string;
    }
    const props = defineProps<Props>();
    const tags = [1, 2];
    const cate = [
        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
    ];
</script>

<style lang="scss" scoped>
    .wrapper {
        &::-webkit-scrollbar:horizontal {
            height: 0;
            width: 0;
            display: none;
        }
        scroll-snap-type: x mandatory;
    }
</style>
