<template>
    <div
        class="w-full h-fit rounded-lg overflow-hidden block-shadow hidden w1024:block"
    >
        <a class="block">
            <Nuxt-img
                src="/Wide-1200x75px.png"
                width="1200"
                height="75"
                fill="contain"
            />
        </a>
    </div>
</template>
