<template>
    <div
        class="w-[175px] w900:w-[205px] shrink-0 rounded-xl block-shadow p-[10px] flex-col mr-[10px] hidden w800:flex"
    >
        <div
            class="w-full h-[20px] flex justify-center items-center text-sm uppercase mb-[10px] font-bold"
        >
            Sửa chữa :
        </div>
        <ul class="w-full flex flex-col justify-between flex-1">
            <nuxt-link
                v-for="(item, key) in listItemMenu"
                :key="key"
                tag="li"
                to="/"
                class="py-[10px] flex-1 flex items-center hover:bg-[#e1e1e1] rounded-md"
            >
                <Icon
                    class="stroke-[#fff0] text-[#111] shrink-0 text-xl mx-[10px]"
                    :name="item.icon"
                />
                <span class="uppercase text-xs font-bold">{{ item.name }}</span>
            </nuxt-link>
        </ul>
    </div>
</template>

<script setup lang="ts">
    interface Item {
        icon: string;
        name: string;
        url: string;
    }
    const listItemMenu = ref<Item[]>([
        {
            icon: 'bi:phone',
            name: 'Điện thoại',
            url: '/',
        },
        {
            icon: 'bi:tablet-landscape',
            name: 'Máy tính bảng',
            url: '/',
        },
        {
            icon: 'bi:laptop',
            name: 'Laptop',
            url: '/',
        },
        {
            icon: 'bi:window-desktop',
            name: 'Máy tính bàn',
            url: '/',
        },
        {
            icon: 'mdi:laptop-mac',
            name: 'Mac',
            url: '/',
        },
        {
            icon: 'bi:watch',
            name: 'Đồng hồ',
            url: '/',
        },
        {
            icon: 'bi:headphones',
            name: 'Phụ kiện',
            url: '/',
        },
        {
            icon: 'mdi:cellphone',
            name: 'Máy cũ',
            url: '/',
        },
    ]);
</script>
