<template>
    <div class="w-[264px] ml-[10px] flex-col justify-between hidden w1024:flex">
        <a
            v-for="(banner, key) in props.listBaner"
            :key="key"
            class="block w-full rounded-xl overflow-hidden block-shadow"
            :href="banner.url"
        >
            <Nuxt-img
                src="/banner-right.webp"
                :alt="banner.name"
                width="264"
                height="115"
                fit="contain"
                class="w-full"
            />
        </a>
    </div>
</template>

<script setup lang="ts">
    import { BannerItem } from '../BlockBannerHomePage/BlockBannerHomePage.vue';
    const props = defineProps<{
        listBaner: BannerItem[];
    }>();
</script>
