<template>
    <div class="w-full h-fit rounded-xl overflow-hidden block-shadow">
        <div
            class="banner-swiper h-fit w800:h-[300px] w900:h-fit w1024:h-[300px]"
        >
            <div class="swiper-wrapper">
                <div
                    v-for="(slide, key) in props.listSilde"
                    :key="key"
                    class="swiper-slide"
                >
                    <a
                        class="w-full h-full flex items-center"
                        :href="slide.url"
                        target="_blank"
                    >
                        <nuxt-img
                            format="webp"
                            width="690"
                            height="300"
                            src="/sliding-a34-thay-km-00665.webp"
                            :alt="slide.name"
                            loading="lazy"
                            class="w-full"
                        />
                    </a>
                </div>
            </div>
            <div class="swiper-pagination w800:hidden"></div>
            <div
                class="swiper-button-prev swiper-button-nav invisible w800:visible"
            >
                <Icon name="ic:baseline-arrow-back-ios-new" />
            </div>
            <div
                class="swiper-button-next swiper-button-nav invisible w800:visible"
            >
                <Icon name="ic:baseline-arrow-forward-ios" />
            </div>
        </div>
        <div class="title-swiper h-[70px] hidden w800:block">
            <div class="swiper-wrapper">
                <div
                    v-for="(slide, key) in props.listSilde"
                    :key="key"
                    class="swiper-slide title-slide"
                >
                    <div
                        class="h-full max-w-1/2 flex justify-center items-center"
                    >
                        <ModulesRenderHtml
                            :html="slide.name"
                            class="text-xs text-center font-thin"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    import { BannerItem } from '../BlockBannerHomePage/BlockBannerHomePage.vue';

    const props = defineProps<{
        listSilde: BannerItem[];
    }>();

    onMounted(() => {
        useSwiperBannerHome();
    });
</script>

<style lang="scss" scoped>
    .banner-swiper {
        position: relative;

        .swiper-button-nav {
            width: 60px;
            height: 60px;
            background-color: #78787882;
            border-radius: 50%;
            color: #fff;
            font-size: 1.5rem;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            &::after {
                content: '';
                display: none !important;
            }
            transition: 0.2s linear;
        }
        .swiper-button-prev {
            left: 0 !important;
            transform: translateX(-100%);
            svg {
                transform: translateX(50%);
            }
        }
        .swiper-button-next {
            right: 0 !important;
            transform: translateX(100%);
            svg {
                transform: translateX(-50%);
            }
        }
        &:hover {
            .swiper-button-prev {
                transform: translateX(-50%);
            }
            .swiper-button-next {
                transform: translateX(50%);
            }
        }
    }
    .title-slide {
        cursor: pointer;
        user-select: none;
        &:hover {
            background: #e8e8e8;
        }
    }
    .title--active {
        position: relative;
        * {
            font-weight: 600 !important;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #ca0000;
        }
    }
</style>
